@import "tailwindcss";

@theme {
  --font-montserrat: Montserrat, sans-serif;
  --font-poppins: Poppins, sans-serif;

  --color-red-light: oklch(70% 0.208 27.06);
  --color-red: oklch(56.76% 0.208 27.06);
  --color-red-dark: oklch(42% 0.208 27.06);

  /* Orange */
  --color-danegr: oklch(71.94% 0.179 54.4);

  /* Green */
  --color-success: oklch(62.71% 0.17 149.21);

  /* Gray */
  --color-gray-light: oklch(96.12% 0 0);
  --color-gray: oklch(82.03% 0 0);
  --color-gray-dark: oklch(68% 0 0);
}

button {
  cursor: pointer;
}
